.stop .nav-link{
    padding: 16px;
    border: none;
}
  .dropdown{
    position: relative;
    display: inline-block;
}
  .dropdown-menu{
    display: none;
    position: absolute;
}
  .dropdown-menu a {
    padding: 12px 16px;
    display: block;
}
  .dropdown-menu a:hover{
      background-color: black;
}
  .dropdown:hover .dropdown-menu {display: block;}
  .navbar-nav .nav-item .nav-link:hover, .socialLinks li a:hover{
      color: #e2a0ff !important;
}
  .navbar-nav .nav-item .nav-link:active{
      color: #e8ffb7 !important;
}
.bodyy{
    background-image: url('../img/bg2.jpg');
    background-size: cover;
    min-height: 60vh;
    background-repeat: no-repeat;

}

.postCard{
    margin-left: 50px !important;
}

@media (max-width: 769px){
    .postCard{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 320px) and (min-width: 319px ){
    .postCard{
        margin-left: 5px !important;
    }
}
